@import "reset.css";
@import "hero.css";
@import "header.css";
@import "trip-finder.css";
@import "featured-trips.css";
@import "footer.css";


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

input,
button,
select,
textarea {
  font-size: inherit; 
  font-family: "Roboto Condensed","helvetica neue", helvetica, sans-serif;
}

body {
  line-height: 1.6;
  font-family: "Roboto Condensed","helvetica neue", helvetica, sans-serif;
  font-weight: 300;
}



.button {
  line-height: 3rem;
  background-color: #09a8bb; 
  color: #FFF;
  text-decoration: none; 
  display: inline-block;
  padding: 0 2rem;
  box-shadow: inset 0 -.15rem 0 0 rgba(0, 0, 0, 0.15);
  border: none;
}

.button:hover {
  background-color: #0895A6;
}

.button:active {
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.button--green {
  background-color: #89c241;
}

.button--green:hover {
  background-color: #78AB38;
}

.button--red {
  background-color: #e82231;
}

.button--red:hover {
  background-color: #CF1F2C;
}

.button--pink {
  background-color: #e61089;
}

.button--pink:hover {
  background-color: #D10F7D;
}

.main-section {
  max-width: 960px;
  margin: 3rem auto 0;
  padding: 1rem 2rem 3rem;
}

.main-section__title{
  font-size: 4rem; 
  text-align: center;
}

.hero + .main-section {
  margin-top: 0;
}

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 3rem 0;
}

.destination {
  display: flex;

} 

.destination__discription-container {
  width: 70%;
}

.destination__image {
  width: 100%;
  display: block;

}

.destination__text {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;                 
  justify-content: center;
  color: #FFF;
  font-size: 1.5rem; 
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.2);
}

.destination__text:hover {
  background-color: rgba(0, 0, 0, 0.4);  
}

.destination__image-link {
  position: relative;
  display: block;
  width: 30%;
  margin-right: 2rem;
  margin-bottom: 4rem;
  
}
